{% extends 'base.html' %} {% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Simple Blog</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi leo,
    commodo rhoncus sapien nec, pretium facilisis nisl. Integer egestas nisi id
    elit pellentesque, a tempus odio malesuada.
  </p>
</div>

<div class="container">
  <div class="d-flex flex-column">
    <h4>Registered Users</h4>
    {% for account in accounts %}
    <p>{{ account }}</p>
    {% endfor %} {% endblock content %}
  </div>
</div>
