{% extends 'base.html' %}

{% block content %}

<form class="form-signin" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Register an account</h1>
    <input
      type="email"
      name="email"
      id="inputEmail"
      class="form-control mb-3"
      placeholder="Email address"
      required
      autofocus
    />
    <input
      type="text"
      name="username"
      id="inputUsername"
      class="form-control mb-3"
      placeholder="Username"
      required
    />
    <input
      type="password"
      name="password1"
      id="inputPassword1"
      class="form-control"
      placeholder="Password"
      required
    />
    <input
      type="password"
      name="password2"
      id="inputPassword2"
      class="form-control"
      placeholder="Confirm Password"
      required
    />
    
    <!-- Field Errors -->
    {% for field in registration_form %} {% for err in field.errors %}
    <p><small style="color: red">{{ err }}</small></p>
    {% endfor %} {% endfor %}
  
    <!-- Non Field Errors -->
    {% if registration_form.non_field_errors %}
    <div style="color: red">
      <p>{{ registration_form.non_field_errors }}</p>
    </div>
    {% endif %}
  
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">
      Register
    </button>
  </form>
{% endblock content %}